/* CSS Document */
#author{
	float:left;
	font-size:12px;
	font-weight:bold;
}
#authorName{
	color:red;
}
#time{
	float:right;
	font-size:12px;	
}

main{
	margin:15px;
	background-color:white;
	line-height:40px;
}
.left_content{
	float:left;
	padding:20px;
	box-shadow: 0px  3px 10px 1px #b6b5b5;
	width:69%;
	margin-bottom:20px;
}
.right_content{
	float:right;
}
#article_header{
	border-bottom:1px solid #b6b5b5;
	height:120;
	margin-bottom:10px;
}
