/* CSS Document */
.left_content{
	width:96% !important;
}
#article_header{
	height:83px !important;
}

#content{
	position:relative;
}
#food_circle{
	margin-top: 100px;
	border-radius:50%;
	border:1px solid #ff0000;	
	margin-bottom:200px;
	margin-left:77px;
}
.circle_rotation{
	position:absolute;
	transform: rotate(0deg);
	transform-origin: center center;
	border-radius:50%;
	width:504px;
	height:504px;
	top:30px;
	left:0px;
}

.circle_rotation svg{
	position:absolute;
	top:0px;
	left:0px;
}
.circle_rotation a:hover{
	cursor:pointer;
}
#slideshow{
	position:absolute;
	top:20px;
}
#content span.img_arrow{
	position:absolute;
	top:452px;
	left:228px;
}
.bones_title{
	position:absolute;
	top:240px;
	left:430px;
	transform:rotate(93deg);
	width:135px;

}
.skin_title{
	position:absolute;
	top:225px;
	left:-55px;
	transform:rotate(-90deg);
}
.eyes_title{
	position:absolute;
	top:476px;
	left:193px;
}
.hair_title{
	position:absolute;
	top:-7px;
	left:206px;
}

.box_header{
	background: #666666;
	color:#FFFFFF;
	border-radius:35px 0px 0px 0px;
	padding:8px 11px 5px 30px;
	margin:20px 5px 0px 0px;
	width:275px;
	box-shadow:-3px -4px 6px 1px #999999;
	font-weight:bold;
	position:absolute;
	top:10px;
	left:530px;
}
.box_content{
	border:1px solid #CCCCCC;
	width:515px;
	padding:12px 10px 10px 10px;
	margin-bottom:20px;
	height:auto;
	position:absolute;
	top:84px;
	left:530px;
	background:white;
}
.box_content div.slideshow_images{
	position:relative;
 	width:300px;
	height:263px;
	overflow:hidden;
	margin-right:10px;
	float:left;
}
.box_content div.slideshow_images div.slideshow_button {
	position:absolute;
	top:115px;
	width:35px;
	height:35px;
	opacity:0.7;
	z-index:1;
}
.box_content div.slideshow_images div#prev{
	left:10px;
	background:transparent url(../images/left_arrow.png);
}
.box_content div.slideshow_images div#next{
	left:261px;
	background:transparent url(../images/right_arrow.png);
}
.box_content div.slideshow_images ul{
	list-style:none;
	margin-left:-40px;
	position:absolute;
	left:0px;
}
.box_content div.slideshow_content ul{
	list-style:none;
	margin-left:-40px;
}
.box_content div.slideshow_images ul li{
	float:left;
}
