/* CSS Document */
main{
	margin:15px;
	background-color:white;
	line-height:23px;
}

.border_image{
	padding:5px;
	border:1px solid #CCCCCC;
	margin-right:4px;
}

.specail_image_news{
	position:relative;
}
.news_image_title{
	position:absolute;
	background:transparent url(../images/bg_transparent.png);
	color:#FFFFFF;
	padding:7px;
}

div.left_content .news_image_title{
	top:-75px;
	left:6px;
	width:286px;
}


div.right_content .news_image_title{
	top:-28px;
	left:7px;
	width:625px;
}

.left_content{
	float:left;
	margin-right:20px;
	box-shadow: 6px -1px 7px -2px #b6b5b5;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	.left_content{ margin-left:15px; margin-top:21px; }
 }

.box_header{
	background: #666666;
	color:#FFFFFF;
	border-radius:35px 0px 0px 0px;
	padding:8px 11px 5px 30px;
	margin:20px 5px 0px 0px;
	width:200px;
	box-shadow:-3px -4px 6px 1px #999999;
	font-weight:bold;
}
.box_content{
	border:1px solid #CCCCCC;
	width:299px;
	padding:12px 10px 10px 0px;
	margin-bottom:20px;
	font-weight:bold;
	list-
}
.box_content ul li{
	list-style-image:url(../images/dotted.gif);
}

.focus_news{
	margin-top:15px;
	margin-right:4px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	.focus_news{ margin-right:20px; }
 }

.focus_news h3{
	margin-bottom:15px;
}

.focus_news img{
	float:right;
	margin-left:11px;
	border:1px solid #CCCCCC;
}

.news_list table{
	border: none;
	margin-top:33px;
		
}

.news_list td {
	padding-top: 15px;
	vertical-align:top;
	line-height:23px;
}

.news_list td.left{
	padding-right: 25px;
}

.news_list td img{
	margin-bottom:10px;
	border:1px solid #CCCCCC;
}



