/* CSS Document */

article dl dt{
	font-weight:bold;
	font-size:20px;
}
#slideshow{
	margin: 20px 0px 20px 0px;
	text-align:center;
	position:relative;
}
#prev_link{
	background:transparent url(../images/prev.png);
	width:66px;
	height:66px;
	position:absolute;
	left:30px;
}
#next_link{
	background:transparent url(../images/next.png);
	width:66px;
	height:66px;
	position:absolute;
	top:0px;
	right:30px;
}